@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
}

button, i {
	cursor: pointer;
}

button, i, input, textarea, select:focus {
	outline: none;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}